<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/Theme.Registeration"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Setup_img"
            android:exported="false" />
        <!-- Activities -->
        <activity
            android:name=".AppliedActivity"
            android:exported="false" />
        <activity
            android:name=".register_done"
            android:exported="false" />
        <activity
            android:name=".description"
            android:exported="false" />
        <activity
            android:name=".setup_interest"
            android:exported="false" />
        <activity
            android:name=".verify_phone2"
            android:exported="false" />
        <activity
            android:name=".verify_phone"
            android:exported="false" />
        <activity
            android:name=".RequestDetailsActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".FilterActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".SignUp"
            android:exported="false" />
        <activity
            android:name=".MyApplications"
            android:exported="false" />
        <activity
            android:name=".PostService"
            android:exported="false" />
        <activity
            android:name=".CreatePost"
            android:exported="false" />
        <activity
            android:name=".PostConfirmation"
            android:exported="false" />
        <activity
            android:name=".Applicants"
            android:exported="false" />
        <activity
            android:name=".Accepted"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.profile.ProfileMain"
            android:exported="false" />
        <activity
            android:name=".screens.profile.ProfileSettings"
            android:exported="false" />
        <activity
            android:name=".screens.profile.AccountInfo"
            android:exported="false" />
        <activity
            android:name=".screens.profile.ChangePassword"
            android:exported="false" />
        <activity
            android:name=".screens.profile.CustomerSupportMain"
            android:exported="false" />
        <activity
            android:name=".MyRequests"
            android:exported="false" />
        <activity
            android:name=".ApplicantProfile"
            android:exported="false" />
        <activity
            android:name=".screens.profile.EnlargedProfilePicture"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAAUKNLUrCJGc3UijGGKO6wz3VIloVlbRU" />
    </application>

</manifest>